---
layout: archive
---

<div class="Intro">
  <h1>
    Finance & Spatial Big Data Analysis Blog
  </h1>
  <h2>
    Here comes some insight from crypto currency to spatial data, 
  </h2>
  <h2>and how to handling ML with python</h2>
</div>

{{ content }}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% for post in posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
